body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

    /*background-color: rgb(231, 238, 240);*/
    background-color: rgb(240, 240, 224);
}

#puzzle{
    width: 648px;
    height: 648px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#puzzle div{
    width: 68px;
    height: 68px;

    background-color:rgb(238, 237, 237);

    border: 0.5px solid silver;
    border-radius: 10px;

    margin: 1px;

    font-size: 48px;
    color: rgb(59, 70, 80);
    display: flex;
    justify-content: center;
    align-items: center;
}