body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

    font-size: 0;

    /*background-color: rgb(231, 238, 240);*/
    background-color: rgb(240, 240, 224);
}

#timer{
    font-size: 34;
    color: rgb(65, 59, 80);
    margin-bottom: 30;
    margin-top: 30;
}

#btn1{
    border: 1px solid;
    display: inline-block;
    width: 150px;
    height: 50px;
    border-right: none;
    margin-top: 30px;
    font-size: 24px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#btn2{
    border: 1px solid;
    display: inline-block;
    width: 150px;
    height: 50px;
    border-left: none;
    margin-top: 30px;
    font-size: 24px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#puzzle{
    width: 648px;
    height: 648px;

    position: relative;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#puzzle tile{
    position: relative;
    width: 68px;
    height: 68px;

    border: 0.5px solid rgb(129, 116, 134);
    border-radius: 10px;

    margin: 1px;

    font-size: 48px;
    color: rgb(65, 59, 80);
    display: flex;
    justify-content: center;
    align-items: center;
    text-justify: auto;
}

.selected-button{
    border-color: rgb(129, 116, 134);
    background-color: rgb(65, 59, 80);
    color: ghostwhite; 
}

.unselected-button{
    border-color: rgb(217, 205, 221);
    background-color: ghostwhite;
    color: rgb(196, 189, 214);
}

.primary-color{
    background-color:rgb(242, 234, 245);
}

.alternate-color{
    background-color:rgb(223, 216, 226);
}

.highlighted{
    background-color: rgb(255, 255, 53);
}

#puzzle candidate1{
    width: 16px;
    height: 16px;
    font-size: 16;

    position:absolute;

    top: 7px;
    left: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-justify: auto;
}

#puzzle candidate2{
    width: 16px;
    height: 16px;
    font-size: 16;

    position: absolute;

    top: 7px;
    left: 26px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-justify: auto;
}

#puzzle candidate3{
    width: 16px;
    height: 16px;
    font-size: 16;

    position: absolute;

    top: 7px;
    left: 45px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-justify: auto;
}

#puzzle candidate4{
    width: 16px;
    height: 16px;
    font-size: 16;

    position:absolute;

    top: 26px;
    left: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-justify: auto;
}

#puzzle candidate5{
    width: 16px;
    height: 16px;
    font-size: 16;

    position: absolute;

    top: 26px;
    left: 26px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-justify: auto;
}

#puzzle candidate6{
    width: 16px;
    height: 16px;
    font-size: 16;

    position: absolute;

    top: 26px;
    left: 45px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-justify: auto;
}

#puzzle candidate7{
    width: 16px;
    height: 16px;
    font-size: 16;

    position:absolute;

    top: 45px;
    left: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-justify: auto;
}

#puzzle candidate8{
    width: 16px;
    height: 16px;
    font-size: 16;

    position: absolute;

    top: 45px;
    left: 26px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-justify: auto;
}

#puzzle candidate9{
    width: 16px;
    height: 16px;
    font-size: 16;

    position: absolute;

    top: 45px;
    left: 45px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-justify: auto;
}

#puzzle alert{
    width: 12px;
    height: 12px;
    border-radius: 50%;

    margin-left: 45px;
    margin-top: 45px;
    background-color: rgb(243, 49, 49);
}

